mat-sidenav{
    width: 15%;
}

.account{
    text-align: right;
    position: absolute;
    left: 90%;
}

.signup{
    color: white;
    text-decoration: none;
}

.signin{
    color: white;
    text-decoration: none;
}

.userName{
    text-align: right;
    position: absolute;
    left: 90%;
}