h1{
    text-align: center;
}

.login-form{
    width: 100%;
}

.width{
    width: 100%;
}

.login-card{
    margin-left: 39%;
    width: 20%;
}

.not-reg{
    text-align: center;
    margin-top: 1%;
}