<h1>Customer Login</h1>

<mat-card class="login-card">
    <mat-card-content>
       <form class="login-form" [formGroup]="loginForm">
          <mat-form-field class="width">
             <mat-label>UserName</mat-label>
             <input matInput id="userName" type="text" formControlName="username">
             <mat-error *ngIf="f.username.touched && f.username.invalid && f.username.hasError('required')">
                UserName is required.
            </mat-error>
          </mat-form-field><br>

          <mat-form-field class="width">
             <mat-label>Password</mat-label>
             <input matInput id="password" type="password" formControlName="password">
             <mat-error *ngIf="f.password.touched && f.password.invalid && f.password.hasError('required')">
                Password is required.
            </mat-error>
          </mat-form-field><br>

          <mat-error *ngIf="response">
            {{response}}
          </mat-error>
          
       </form>
    </mat-card-content>
    <mat-card-actions>
       <button mat-raised-button color="primary" [disabled]="!loginForm.valid" (click)="onSubmit()">Login</button>&nbsp;
       <button mat-raised-button (click)="onReset()">Cancel</button>
    </mat-card-actions>
 </mat-card>

 <div class="not-reg">
    Not a Registered Customer ? Then click <a class="signup" [routerLink]="'/account/register'">here.</a>
 </div>
 
