<div class="cart">
    <!-- Your Shopping Cart: <button mat-flat-button color="accent" role="button" [disabled]="state.cart.length < 1" (click)="checkout()"> -->
        <div class="items">
            <span class="cartItems">Your Cart Items:</span>
            <mat-chip-list>
                <mat-chip *ngFor="let item of state.cart" [removable]="true" (removed)="removeItemsFromCart(item)">{{ item.name }}
                    <mat-icon matChipRemove>cancel</mat-icon>
                </mat-chip>
            </mat-chip-list> 
        </div>
        
        <div class="total">
            <strong>Total: {{ state.tot.totl | currency:'LKR ':'symbol':'1.2-2' }}</strong>
        
            <button mat-flat-button color="accent" role="button" [disabled]="state.cart.length < 1">
                <mat-icon>shopping_cart</mat-icon>
                Checkout {{ state.cart.length }} Item{{ state.cart.length > 1 ? 's' : '' }}
            </button>
        </div>
</div>

