<!-- Title. -->
<h2>
    <strong>Payment Confirmation Page</strong>
    <button style="float: right;" mat-icon-button [mat-dialog-close]><mat-icon>cancel</mat-icon></button>
</h2>

<p>
    Review your Order and Complete your Payment.
</p>

<mat-card>
    <mat-card-header>
      <mat-card-title>Total Amount: {{ state.tot.totl | currency:'LKR ':'symbol':'1.2-2' }}</mat-card-title>
    </mat-card-header><br>

    <label id="payment-title">Please choose your Payment Option.</label><br>
    <mat-radio-group aria-labelledby="payment-radio-group-label" class="payment-radio-group" [(ngModel)]="paymentMethod">
        <mat-radio-button class="payment-radio-button" *ngFor="let payment of payments" [value]="payment">
            <img class="payment-image" src="{{payment.image}}"/>
        </mat-radio-button>
    </mat-radio-group>

    <mat-card-actions style="text-align: right;">
        <button mat-flat-button color="primary" (click)="onSubmit()">    
          Confirm Payment &nbsp;<mat-icon>thumb_up</mat-icon>
        </button>
    </mat-card-actions>
</mat-card>
